version: "3.9"

services:
  api:
    build: .
    container_name: ${APP_NAME}_api
    restart: always
    env_file:
      - .env
    ports:
      - "4001:4001"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: ${APP_NAME}_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  postgres_data:
